*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light_blue:#287094;
    --light_gray:#d4d4ce;
    --cream_white:#f6f6f6;
    --dark_blue:#023246;
    --blue_gray:#414246;
}

body{
    background-color: var(--light_gray);
}

header{
    background-color: var(--blue_gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1% 1% 0;
}

header h1{
    color: var(--blue_gray);
    background-color: var(--light_blue);
    align-items: center;
    padding: 20px 20px 20px 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

header nav a{
    color: var(--light_blue);
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 0 10px 5px 10px;
    border-bottom: 5px solid var(--light_blue);
}

header nav a:hover{
    color: var(--cream_white);
    border-color: var(--cream_white);
    transition: 500ms;
}

.subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: var(--dark_blue);
}

.subtitle h2{
    position: absolute;
    right: 7%;
    bottom: 10%;
    color: var(--blue_gray);
    padding: 15px;
    background-color: var(--light_blue);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

}

.subtitle img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.about{
    display: flex;
    padding: 30px 10px 30px 10px;
}

.about aside{
    flex-basis: 20%;
}

.about aside h1{
    color: var(--dark_blue);
    font-size: 3em;
    text-align: right;
    border-right: 5px solid var(--dark_blue);
    padding-right: 20px;
    margin: 0px 20px 20px 20px;
    height: 100%;
}

.about .paragraph-container{
    flex-basis: 80%;
    padding-right: 5%;
}

.about p{
    margin: 20px;
    color: var(--dark_blue);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
}

.work{
    display: flex;
    padding: 30px 10px 30px 10px;
}

.work aside{
    flex-basis: 20%;
}

.work aside h1{
    color: var(--dark_blue);
    font-size: 3em;
    text-align: right;
    border-right: 5px solid var(--dark_blue);
    padding-right: 20px;
    margin: 0px 20px 20px 20px;
    height: 100%;
}

.work .project-cards{
    flex-basis: 80%;
    padding-right: 5%;
    height: 100%;
}

.work .project-cards .big-card-interior{
    border: 5px solid var(--dark_blue);
    height: 550px;
    width: 100%;
}

.work .project-cards .card-interior{
    border: 5px solid var(--dark_blue);
    height: 150px;
}

/*Start of contact section*/

.contact{
    display: flex;
    padding: 30px 10px 30px 10px;
}

.contact aside{
    flex-basis: 20%;
}

.contact aside h1{
    color: var(--dark_blue);
    font-size: 3em;
    text-align: right;
    border-right: 5px solid var(--dark_blue);
    padding-right: 20px;
    margin: 0px 20px 20px 20px;
    height: 100%;
}

.contact .contact-info{
    flex-basis: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact .contact-info ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.contact .contact-info a{
    color: var(--light_blue);
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 0 10px 5px 10px;
    border-bottom: 5px solid var(--light_blue);
}